<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1090654773439-jve7jseolrd0h8d7eqi7745q0jhs5v1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1090654773439-jve7jseolrd0h8d7eqi7745q0jhs5v1d</string>
	<key>API_KEY</key>
	<string>AIzaSyCyuDojuJBocGOgPEzbg9zlPgc0kz7lWvE</string>
	<key>GCM_SENDER_ID</key>
	<string>1090654773439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>fr.esieespace.ios</string>
	<key>PROJECT_ID</key>
	<string>sumobot-1ec17</string>
	<key>STORAGE_BUCKET</key>
	<string>sumobot-1ec17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090654773439:ios:059c7caf78893eba14660a</string>
	<key>DATABASE_URL</key>
	<string>https://sumobot-1ec17.firebaseio.com</string>
</dict>
</plist>